/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require bootstrap_and_overrides
 *= require bootstrap-material-design
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    font-url('glyphicons-halflings-regular.woff') format('woff'), font-url('glyphicons-halflings-regular.ttf') format('truetype'),
    font-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
* {
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    font-family: 'MS PGothic', Osaka, Arial, sans-serif;;
}

body {
    margin: 0;
    margin-top: 50px;
    position: relative;
    min-height: 700px;
    .container-fluid {
        padding: 0px 20px;
    }
    background: #f2f2f2;
    color: #333;
    $color1: #eee;
    $color2: #f2f2f2;
    background: -webkit-gradient(linear, left top, right bottom, from($color1), color-stop(0.25, $color1), color-stop(0.25, $color2), color-stop(0.5, $color2), color-stop(0.5, $color1), color-stop(0.75, $color1), color-stop(0.75, $color2), to($color2));
    background: -moz-linear-gradient(-45deg, $color1 25%, $color2 25%, $color2 50%, $color1 50%, $color1 75%, $color2 75%, $color2);
    background: linear-gradient(-45deg, $color1 25%, $color2 25%, $color2 50%, $color1 50%, $color1 75%, $color2 75%, $color2);
    background-size: 8px 8px;
}

.pagetop {
    position: fixed;
    bottom: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid #f2f2f2;
    background: #81C784;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: none;
    i {
        margin-top: 13px;
        font-size: 20px;
    }
    &:hover {
        opacity: .8;
        background: #009688;
        transition: .3s;
    }
}
@media (max-width: 480px) {
    .pagetop { display: none; }
}
header {
    .user-thumbnail {
        margin: 0;
        padding: 0;
        margin-bottom: -10px;
        margin-top: -10px;
        margin-right: 10px;
        border: 2px solid #fff;
        border-radius: 2px;
        height: 40px;
        width: 40px;
    }
    .username {
        margin-top: -10px;
        padding: 4px;
    }
    .navbar {
        color: #fff;
        background-color: #68CFC3;
        .login-icon {
            width: 30px;
            height: 30px;
        }
        .navbar-brand img {
            height:40px;
            width: auto;
            margin-top:-10px;
        }
        li > a.btn:hover, li > a.btn:focus {
            color: #fff;
            background-color: #ccc;
        }
        li .new-evideo {
            border: 1px solid black;
            background: white;
        }

        .login{
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            i {
                font-size: 18px;
                padding: 3px;
                padding-right: 5px;
            }
            li {
                padding: 0;
                margin: 0;
                text-align: center;
                .TwBtn {
                    margin-top: -5px;
                    color: #fff;
                    background-color: #55acee;
                    border-color: rgba(0,0,0,0.2);
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &:focus {
                        color: #fff;
                        background-color: #2795e9;
                        border-color: rgba(0,0,0,0.2);
                    }
                    &:hover {
                        color: #fff;
                        background-color: #2795e9;
                        border-color: rgba(0,0,0,0.2);
                    }
                }
                .FbBtn {
                    margin-bottom: -5px;
                    color: #fff;
                    background-color:#3b5998;
                    border-color:rgba(0,0,0,0.2);
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &:focus {
                        color: #fff;
                        background-color: #2d4373;
                        border-color: rgba(0,0,0,0.2);
                    }
                    &:hover {
                        color:#fff;
                        background-color:#2d4373;
                        border-color:rgba(0,0,0,0.2);
                    }
                }
            }
        }
    }
    .category {
        background: #fff;
        width: 100%;
        height: 40px;
        .mask {
            height: 38px;
            padding: 0;
            margin: 0;
            ul li {
                font-size: 13px;
                line-height: 1.2;
                padding: 12px;
                margin: 0px;
                height: 38px;
                text-align: center;
                border-bottom: 1px solid #fff;
                &:hover {
                    background: #eee;
                    border-bottom: 1px solid #46C5E8;
                    color: #46C5EB;
                }
            }
        }
    }
    @media (min-width: 760px) {
        .category {
            margin: 0 auto;
            padding: 0px 10%;
            border: 1px solid #f2f2f2;
            ul {
                list-style-type: none;
                padding: 0;
                li {
                    display: inline-block;
                    width: 15%;
                }
            }
        }
    }
    @media (max-width: 760px) {
        .category {
            overflow: hidden;
            .mask {
                width: 100%;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                ul {
                    display: inline-table;
                    margin: 0 auto;
                    max-width: 100%;
                    li {
                        display: table-cell;
                        min-width: 100px;
                    }
                }
            }
        }
    }
}

.wrap {
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#loading {
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9999;
    position: fixed;
    _position: absolute; /* for IE6 */
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.container-fluid2 {
  padding: 0px;
  width: 100%;
  height: 800px;
}

.cover-container {
  width: 700px;
  height: auto;
  margin: 50px auto;
}

.center-logo img {
  width: 100%;
}


.alert-warning{
  margin: 10px 0px;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.center-button .btn {
  width: 200px;
  height: 60px;
  font-size: 30px;
}

.space4 {
  overflow-y: scroll;
}
