// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users.get_cards {
	.cards_field {
		width: 80%;
		min-height: 500px;
		margin: 0 auto;
		margin-top: 30px;
		.card_field {
			.thumbnail {
				margin-bottom: 0;
			}
			h6 {
				text-align: center;
			}
		}
	}
}